/* ESTILOS GENERALES */
:root {
  /* Gray scale */
  --title: #000000;
  --body: #4E4B66;
  --label: #6E7191;
  --placeholder: #A0A3BD;
  --line: #D9DBE9;
  --input-bg: #EFF0F6;
  --bg: #F7F7FC;
  --white: #FCFCFC;
  /* Foundations */
  --primary: #B5121C;
  --primary-dark: #910C14;
  --primary-light: #DC2D38;
  --secondary: #545454;
  /* States */
  --danger: #DC2D38;
  --warning: #F4B740;
  --info: #3D9CF3;
  --success: #00BA88;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--body);
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2rem;
}

main {
  min-height: 100vh;
}

/* FIN ESTILOS GENERALES */

/* GENERADOR PDF */
.navbar {
  /* background-color: pink; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0px 4px 4px #E5E5E5;
}

.navbar .navbar-brand {
  /* background-color: greenyellow; */
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar .navbar-brand img {
  display: block;
  height: 1.5rem;
}
/* FIN GENERADOR PDF */
